*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media screen and (max-width: 600px) {
    .container {
        background-color: black;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 100px);
    }
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
.logo{
    font-size: 1.5rem;
    font-weight: bold;
}
.menu ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.menu ul li {
    display: flex;
    justify-items: center;
}
.menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
